@font-face {
    font-family: VeluxGothic-Black;
    src: 'VeluxGothic-Black.otf';
}

@font-face {
    font-family: VeluxGothic-BlackItalic;
    src: 'VeluxGothic-BlackItalic.otf';
}

@font-face {
    font-family: VeluxGothic-Bold;
    src: 'VeluxGothic-Bold.otf';
}

@font-face {
    font-family: VeluxGothic-BoldItalic;
    src: 'VeluxGothic-BoldItalic.otf';
}

@font-face {
    font-family: VeluxGothic-Light;
    src: 'VeluxGothic-Light.otf';
}

@font-face {
    font-family: VeluxGothic-LightItalic;
    src: 'VeluxGothic-LightItalic.otf';
}

@font-face {
    font-family: VeluxGothic-RegItalic;
    src: 'VeluxGothic-RegItalic.otf';
}

@font-face {
    font-family: VeluxGothic-Regular;
    src: 'VeluxGothic-Regular.otf';
}


body{
    font-family: VeluxGothic-Black, VeluxGothic-BlackItalic, VeluxGothic-Bold, VeluxGothic-BoldItalic, VeluxGothic-Light, VeluxGothic-LightItalic, VeluxGothic-RegItalic, VeluxGothic-Regular;
}

button {font-family: inherit}
input {font-family: inherit}
ul {font-family: inherit}

/*formatting for mobile devices*/
/*STYLES FOR INDEX PAGE*/

.padding{
    padding: 4%;
}

.sticky{    
    position: -webkit-sticky;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar{
    display: flex;
    justify-content: space-between;
    font-family: VeluxGothic-Black, VeluxGothic-BlackItalic, VeluxGothic-Bold, VeluxGothic-BoldItalic, VeluxGothic-Light, VeluxGothic-LightItalic, VeluxGothic-RegItalic, VeluxGothic-Regular;
}

.navbar button {
    width: 25%;
    float: left;
    height: fit-content;
    display: block;
    background-color: #333;
    transition: background-color 0.5s ease;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-top: 4px;
    padding-bottom:4px;
    border: none;
    font-size: 3.8vw;
}

.navbar button:hover:not(.active) {
    background-color: #111;
    transition: background-color 0.5s ease;
}

ul{
    padding-inline-start: 0px;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #333;
    z-index: 2;
    justify-content: space-around;
} 

.laptop{display: none;}
.mobile{display: block;}

.header-m{
    font-size: 35px;
    text-align: center;
    margin: 3.125vw; /*40px*/
}

.box-option-m{
    float: left;
    min-height: 31.25vw; /*400px*/
    height: fit-content;
    width: 50%;
    border: solid 0.4vw rgb(39, 106, 39); /*3px*/
    color: black;
    text-align: center;
    justify-content: center;
    margin-left: 25%;
    font-size: 18px; /*50px*/
    margin-top: 0.78125vw; /*10px*/
    margin-bottom: 0.78125vw; /*10px*/
    border-top-left-radius: 1.25vw;
    border-top-right-radius: 1.25vw;
    border-bottom-left-radius: 1.25vw;
    border-bottom-right-radius: 1.25vw;
}

.responsive-font-m{
    font-size: 18px; 
    float: left;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.diagram-m{
    /*float: left;*/
    display: block;
    margin: 10%;
    width: 80%;
}

*{
    box-sizing: border-box;
}

.box-option-color{
    background: rgb(152, 204, 152);
    transition: background-color 0.5s ease;
}

.box-option-color:hover{
    background: rgb(186, 217, 186);
    transition: background-color 0.5s ease;
}

#smallbox{
    cursor:pointer;
}

/*STYLES FOR INSIDE/OUTSIDE PAGES*/

.header2-m{
    font-size: 25px;
    text-align: center;
    margin: 2.34375vw; /*30px*/
    margin-bottom: 0.78125vw; /*10px*/
}

.sub-header-m{
    font-size: 18px;
    text-align: center;
    margin: 2.34375vw; /*30px*/
    margin-bottom: 0.78125vw; /*10px*/
}

/*main-box*/
.main-box-m{
    /*height: 150px;*/
    width: 90%;
    border: 0.15625vw black solid; /*2px*/
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

/*head-box*/
.head-box-m{
    height: fit-content; 
    width: 100%;
    color: white;
    background-color: grey;
    text-align: center;
    padding-top: 0.01953125vw; /*25px*/
    font-size: 15px;
}

.input-box-m{
    text-align: center;
    padding-top: 0.78125vw; /*10px*/
    padding-bottom: 0.78125vw; /*10px*/
    font-size: 12px;
    width: 100%;
}

.ind-inputs-m{
    margin-bottom: 0.390625vw; /*5px*/
}

/*CHANGED FOR TESTING*/
.input-m{
    border: solid 0.15625vw rgb(255, 84, 84); /*2px*/
    width: 40%;
    min-height: 3.515625vw; /*45px reput in lol*/
    height: fit-content; /*3.515625vw; /*45px*/
    font-size: 12px;
}

.box-color{
    background-color: rgb(241, 160, 160);
    transition: background-color 0.5s ease;
}

.box-color:hover{
    background-color: rgb(244, 206, 206);
    transition: background-color 0.5s ease;
}

.results-box-m {
    text-align: center;
    font-size: 3.125vw;
    width: 100%;
    font-size: 3.90625vw; /*50px*/
    padding-top: 0.78125vw; /*10px*/
    padding-bottom: 0.78125vw; /*10px*/
}

.results-m{
    border: solid 2px rgb(39, 106, 39);
    width: 50%;
    text-align: center;
    color: black;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
}

.results-color{
    background-color: rgb(152, 204, 152);
    transition: background-color 0.5s ease;
}

.results-color:hover{
    background-color: rgb(186, 217, 186);   
    transition: background-color 0.5s ease;
}

.note-m{
    font-size: 18px;
    text-align: center;
    border: solid 0.078125vw black; /*1px*/
    width: 90%;
    margin: auto;
    margin-top: 1.5625vw; /*20px*/
    margin-bottom: 1.5625vw; /*20px*/
    padding: 0.78125vw; /*10px*/
}

/*STYLES FOR INSIDE/OUTSIDE PAGE RESULT TABLES*/

.table-header-box-m{
    height: 3.9vw;
    width: 100%;
    color: white;
    background-color: grey;
    text-align: center;
    padding-top: 0.01953125vw; /*25px*/
    font-size: 3.125vw; /*40px*/
    /*new*/
    margin: 0px;
}

/*table-box*/
.table-border-m{
    width: 90%;
    /* new take out: border: 0.15625vw black solid; /*2px*/
    display: flex;
    flex-wrap: wrap;
    align-content: left;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    float: left;
}

.tr{
    width: 100%;
}

.smaller-table-border-m{
    width: 25.39vw; /*325px*/
    border: 0.15625vw black solid; /*2px*/
    display: flex;
    flex-wrap: wrap;
    align-content: left;
    text-align: left;
    margin-right: 0px; 
    margin-left: auto;
}

.results-gray-columns-m{
    color: white; 
    background-color: grey;
}

.display-box-m{
    text-align: center;
    height: 3.515625vw;
    justify-content: left;
    background-color: rgb(249, 141, 141);
    border: solid 0.15625vw rgb(255, 84, 84);
    font-size: 3.125vw; /*40px*/
    /*new*/
    float: left;
    width: 30%;
    margin: auto;
}

.message-box-m{
    height: 3.9vw;
    width: 45vw; /*896*/
    background-color: white;
    font-size: 3.125vw; /*40px*/
} 

.responsive-m{
    width: 90%;
    height: auto;
    display: none;
}

/*new*/

.result-name-m{
    width: fit-content;
    float: left;
    padding-top: 0px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3.125vw;
}

.user-input-col-m{
    width: 50%;
    padding: 0.78125vw; /*10px*/
    float: left;
    display: flex;
}

td, th {
    border: 1px solid black;
}

table {
    width: 100%;
}
  
#table1 {
    border-collapse: collapse;
}

#inputtable {
    border-collapse: collapse;
}

.right-m{
    text-align: right;
}

.flex-m{
    display: flex;
}

.display-box-results-grey-m{
    text-align: center;
    justify-content: left;
    height: 3.90625vw; /*50px*/
    background-color: rgb(177, 177, 177);
    border: solid 0.15625vw rgb(0, 0, 0);
    font-size: 3.125vw; /*40px*/
    /*new*/
    float: left;
    width: 7.8125vw; /*100px*/
    margin: auto;
    padding-left: 0.390625vw; /*5px*/
    padding-right: 0.390625vw; /*5px*/
}

.display-box-results-red-m{
    text-align: center;
    justify-content: left;
    height: 3.90625vw; /*50px*/
    background-color: rgb(241, 160, 160);
    border: solid 0.15625vw rgb(0, 0, 0);
    font-size: 3.125vw; /*40px*/
    /*new*/
    float: left;
    width: 7.8125vw; /*100px*/
    margin: auto;
    padding-left: 0.390625vw; /*5px*/
    padding-right: 0.390625vw; /*5px*/
}

.results-subtitle-col-m{
    width: 45%;
    float: left;
    text-align: right;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 0.390625vw; /*5px*/
}

.results-display-col-1-m{
    width: 33%;
    float: left;
    display: flex;
}

.results-display-col-2-m{
    width: 22%;
    float: left;
    display: flex;
}

.result-name-res-m{
    width: 100%;
    float: left;
    padding-top: 0px;
}

.results-col-m{
    width: 100%;
    padding-left: 0.78125vw; /*10px*/
    padding-right: 0.78125vw; /*10px*/
    float: left;
    display: flex;
    justify-content: right;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3.125vw; /*40px*/
}

.no-border-top-bottom{
    border-top: none;
    border-bottom: none;
}

.no-border-top{
    border-top: none;
}

.no-border-bottom{
    border-bottom: none;
}

.results-tr-height{
    height: fit-content;
}

.padding-top{
    padding-top: 0.78125vw; /*10px*/
}

.padding-bottom{
    padding-bottom: 0.78125vw; /*10px*/
}

.padding{
    padding: 0.78125vw; /*10px*/
}

.opt-measurements-m{
    height: fit-content;
    width: 100%;
    text-align: center;
    font-size: 3.125vw; /*40px*/
    /*new*/
    margin: 0px;
}

.display-box-white-m{
    text-align: center;
    justify-content: left;
    height: 1.71875vw; /*22px*/
    border: solid 0.15625vw rgb(0, 0, 0);
    font-size: 1.25vw; /*16px*/
    /*new*/
    float: left;
    width: 7.8125vw; /*100px*/
    margin: auto;
}

.col-4-l-m{
    width: 30%;
    float: left;
    display: flex;
    justify-content: right;
    font-size: 3.125vw; /*40px*/
}

.col-4-v-m{
    width: 20%;
    float: left;
    display: flex;
    justify-content: left;
    font-size: 3.125vw; /*40px*/
}

.label-m{
    /* width: fit-content; */
    float: left;
    padding-top: 0px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0.390625vw; /*5px*/
}

.value-m{
    text-align: center;
    height: 3.515625vw; /*45px*/
    border: solid 0.15625vw rgb(0, 0, 0);
    float: left;
    width: 80%;
    margin: auto;
    margin-left: 0;
}

.image-txt-m{
    text-align: center;
    font-size: 3.125vw;
}

.img-format-m{
    width: 90%;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
}

.img-table-m{
    float: left; 
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.img-cont{
    width: 100%;
    height: 90vh;
    position:relative;
}
 
.img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}







/* formatting for laptops*/
@media only screen and (min-width: 600px){

        /*STYLES FOR INDEX PAGE*/


/*nav bar*/

.padding{
    padding: 4%;
}

.sticky{    
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top:0;
}

.navbar button {
    width: 29%;
    float: left;
    height: fit-content;
    background-color: #333;
    transition: background-color 0.5s ease;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-top: 1vw;
    padding-bottom:1vw;
    border: none;
    font-size: 25px;
}

.navbar button:hover:not(.active) {
    background-color: #111;
    transition: background-color 0.5s ease;
}

.navbar li{
    width: 13%;
    justify-content: center;
    height: fit-content;
    padding-top: .5vw;
    padding-left: 2.5vw;
    z-index: 10;
}

.logo{
    margin: auto;
    height: 40px; /*3.125vw;*/
}


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    height:fit-content;
    overflow: hidden;
    background-color: #333;
    z-index: 5;
}      

.laptop{display: block;}
.mobile{display: none;}
        
.header{
    font-size: 45px;
    text-align: center;
    margin: 3.125vw; /*40px*/
}

.column-padding{
    float: left;
    width: 0.390625vw; /*5px*/
    margin: 2.34375vw; /*30px*/
    margin-bottom: 0px;
    padding-top: 1.5625vw; /*20px*/
    padding-left: 7.8125vw; /*100px*/
    padding-right: 7.8125vw; /*100px*/
    padding-bottom: 0px;
    height: 29.296875vw; /*375px*/
    line-height:2;
    text-align: center;
}

.columns-i{
    float: left;
    width: 30%;
    margin-left: 1.66%;
    margin-right: 1.66%;
    justify-content: center;
    height: fit-content;
    text-align: center;
    line-height: 1.5;


  /*  margin: 2.34375vw;
    margin-bottom: 0px;
    margin-top: 0;
    padding-top: 0;
    padding-left: 7.8125vw;
    padding-right: 7.8125vw;
    padding-bottom: 0px;
    height: 29.296875vw;
    line-height: 2;
    justify-content: center;
    text-align: center; */
}

.box-option{
    min-height: 15.625vw; /*200px*/
    height:fit-content;
    width: 75%;
    border: solid 0.234375vw rgb(39, 106, 39); /*3px*/
    color: black;
    text-align: center;
    margin-left: 12.5%;
    font-size: 18px; 
    border-top-left-radius: 1.25vw;
    border-top-right-radius: 1.25vw;
    border-bottom-left-radius: 1.25vw;
    border-bottom-right-radius: 1.25vw;
}

.responsive-font{
    font-size: 1.25vw;
    line-height: 1.5;
}

.responsive-font-inputs{
    font-size: 18px;
    line-height: 1.5;
}

.diagram{
    float: left;
    display: block;
    width: 90%;
    margin-top: 0;
}

        /*STYLES FOR INSIDE/OUTSIDE PAGES*/

.input-subtitle-col {
    width: 50%;
    float: left;
    text-align: right;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.25vw;
}

.input-recieving-col{
    width: 50%;
    float: left;
    display: flex;
    font-size: 1.25vw;
    justify-content: left;
}

.input-table{
    width: 90%;
    /* new take out: border: 0.15625vw black solid; /*2px*/
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    text-align: left;
    margin: auto;
    float: left;
}

.head-box{
    height: fit-content;
    width: 100%; /*896*/
    color: white;
    background-color: grey;
    text-align: center;
    padding-top: 0.01953125vw; /*25px*/
    font-size: 20px;
    /*new*/
    margin: 0px;
    padding: 1.125vw;
}

.header2{
    font-size: 40px;
    text-align: center;
    margin: 3.90625vw; /*50px*/
    margin-bottom: 0.9vw; 
    margin-top: 0.9vw; 
}

.sub-header{
    font-size: 25px;
    text-align: center;
    margin: 3.90625vw; /*50px*/
    margin-bottom: 0.78125vw; /*10px*/
    margin-top: 0.78125vw; /*10px*/
}

/*main-box*/
.main-box{
    /*height: 150px;*/
    width: 70.3125vw; /*900px*/
    border: 0.15625vw black solid; /*2px*/
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.input-box{
    padding-top: 0.78125vw; /*10px*/
    padding-bottom: 0.78125vw; /*10px*/
    font-size: 1.5625vw; /*20px*/
    width: 100%;
}


.ind-inputs{
    margin-bottom: 0.390625vw; /*5px*/
}

/*CHANGED THIS TOO TO SEE IF IT WILL HOPEFULLY STILL WORK ON MAC*/
.input{
    border: solid 0.15625vw rgb(255, 84, 84); /*2px*/
    width: 40%;
    height: fit-content;/*1.953125vw; /*25px*/
    font-size: 18px;
}

.box-color{
    background-color: rgb(241, 160, 160);
    transition: background-color 0.5s ease;
}

.box-color:hover{
    background-color: rgb(244, 206, 206);
    transition: background-color 0.5s ease;
}

.note{
    font-size: 25px;
    text-align: center;
    border: solid 0.078125vw black; /*1px*/
    width: 70.3125vw; /*900px*/
    margin: auto;
    margin-top: 1.5625vw; /*20px*/
    padding: 0.78125vw; /*10px*/
}

.results{
    font-size: 30px;
    color: black;
    border: solid 2px rgb(39, 106, 39);
    /*width: 40px; */
    margin: auto;
    /* margin-right: 25.390625vw; */
    /* margin-left: 25.390625vw; */
    margin-bottom: 10px;
    text-align: center;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
}

.results-color{
    background-color: rgb(152, 204, 152);
    transition: background-color 0.5s ease;
}

.results-color:hover{
    background-color: rgb(186, 217, 186);  
    transition: background-color 0.5s ease; 
}


/*TESTING MAKING A TABLE FOR INPUTS*/

.col-2-l{
    width: 50%;
    float: left;
    display: flex;
    justify-content: right;
}

.col-2-v{
    width: 50%;
    float: left;
    display: flex;
    justify-content: left;
}

.label-input{
    /* width: fit-content; */
    float: left;
    padding-top: 0px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0.390625vw; /*5px*/
}

.value-form {
    text-align: center;
    height: 1.71875vw;
    border: solid 0.234375vw rgb(255, 84, 84);
    font-size: 1.25vw;
    float: left;
    width: 7.8125vw;
    margin: auto;
    margin-left: 0;
}

/*TESTING MAKING A TABLE FOR INPUTS*/

        /*STYLES FOR INSIDE/OUTSIDE PAGE RESULT DISPLAYS*/

.table-header-box{
    height: 3.9vw;
    width: 100%;
    color: white;
    background-color: grey;
    text-align: center;
    padding-top: 0.01953125vw; /*25px*/
    font-size: 1.25vw;
    /*new*/
    margin: 0px;
}

/*table-box*/
.table-border{
    width: 50%;
    /* new take out: border: 0.15625vw black solid; /*2px*/
    display: flex;
    flex-wrap: wrap;
    align-content: left;
    text-align: left;
    margin: 1.5625vw; /*20px*/
    float: left;
}

.smaller-table-border{
    width: 25.39vw; /*325px*/
    border: 0.15625vw black solid; /*2px*/
    display: flex;
    flex-wrap: wrap;
    align-content: left;
    text-align: left;
    margin-right: 0px; 
    margin-left: auto;
}

.results-gray-columns{
    color: white; 
    background-color: grey;
}

.display-box{
    text-align: center;
    justify-content: left;
    height: 2vw; /*22px*/
    background-color: rgb(249, 141, 141);
    border: solid 0.15625vw rgb(255, 84, 84);
    font-size: 1.25vw; /*16px*/
    /*new*/
    float: left;
    width: 7.8125vw; /*100px*/
    margin: auto;
}

.message-box{
    height: 3.9vw;
    width: 45vw; /*896*/
    background-color: white;
} 

.responsive{
    width: 90%;
    height: auto;
    display: none;
    float: left;
}

/*new*/

.result-name{
    /*width: fit-content;*/
    float: left;
    padding-top: 0px;
    margin-top: 0;
    margin-bottom: 0;
}

.user-input-col{
    width: 50%;
    padding: 0.78125vw; /*10px*/
    float: left;
    display: flex;
}

td, th {
    border: 1px solid black;
}
  
#table1 #inputtable{
    border-collapse: collapse;
}

.right{
    text-align: right;
}

.flex{
    display: flex;
}

.display-box-results-grey{
    text-align: center;
    justify-content: left;
    height: 2vw; /*22px*/
    background-color: rgb(177, 177, 177);
    border: solid 0.15625vw rgb(0, 0, 0);
    font-size: 1.25vw; /*16px*/
    /*new*/
    float: left;
    width: 7.8125vw; /*100px*/
    margin: auto;
    padding-left: 0.15625vw; /*2px*/
    padding-right: 0.15625vw; /*2px*/
}

.display-box-results-red{
    text-align: center;
    justify-content: left;
    height: 2vw; /*22px*/
    background-color: rgb(241, 160, 160);
    border: solid 0.15625vw rgb(0, 0, 0);
    font-size: 1.25vw; /*16px*/
    /*new*/
    float: left;
    width: 7.8125vw; /*100px*/
    margin: auto;
    padding-left: 0.15625vw; /*2px*/
    padding-right: 0.15625vw; /*2px*/
}

.results-subtitle-col{
    width: 45%;
    float: left;
    text-align: right;
    margin-top: 0;
    margin-bottom: 0;
}

.results-display-col-1{
    width: 33%;
    float: left;
    display: flex;
}

.results-display-col-2{
    width: 22%;
    float: left;
    display: flex;
}

.result-name-res{
    width: 100%;
    float: left;
    padding-top: 0px;
}

.results-col{
    width: 100%;
    padding-left: 0.78125vw; /*10px*/
    padding-right: 0.78125vw; /*10px*/
    float: left;
    display: flex;
    justify-content: right;
    margin-top: 0;
    margin-bottom: 0;
}

.no-border-top-bottom{
    border-top: none;
    border-bottom: none;
}

.no-border-top{
    border-top: none;
}

.no-border-bottom{
    border-bottom: none;
}

.results-tr-height{
    height: fit-content;
}

.padding-top{
    padding-top: 0.78125vw; /*10px*/
}

.padding-bottom{
    padding-bottom: 0.78125vw; /*10px*/
}

.padding{
    padding: 0.78125vw; /*10px*/
}

.opt-measurements{
    height: fit-content;
    width: 45vw; /*896*/
    text-align: center;
    font-size: 1.3vw; /*15px*/
    /*new*/
    margin: 0px;
}

.display-box-white{
    text-align: center;
    justify-content: left;
    height: 2vw; /*22px*/
    border: solid 0.15625vw rgb(0, 0, 0);
    font-size: 1.25vw; /*16px*/
    /*new*/
    float: left;
    width: 7.8125vw; /*100px*/
    margin: auto;
}

.col-4-l{
    width: 25%;
    float: left;
    display: flex;
    justify-content: right;
}

.col-4-v{
    width: 25%;
    float: left;
    display: flex;
    justify-content: left;
}

.label{
    /* width: fit-content; */
    float: left;
    padding-top: 0px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0.390625vw; /*5px*/
}

.value {
    text-align: center;
    height: 2vw;
    border: solid 0.15625vw rgb(0, 0, 0);
    font-size: 1.25vw;
    float: left;
    width: 7.8125vw;
    margin: auto;
    margin-left: 0;
}

.image-txt{
    text-align: center;
    font-size: 2vw;
}

.img-format{
    width: 45%;
    float: left;
    margin: auto;
}

.img-table{
    float: left; 
    width: 45%;
    margin-left: 0; 
    margin-right: 0;
}

.buffer{
    width: 45%;
    float: left;
    height: 39.0625vw;
}

.img-cont{
    width: 100%;
    height: 90vh;
    position:relative;
}
 
.img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

}




